/* GENERAL */
body {
	font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* CLOCK */
#clock {
	text-align: center;
}

/* CLOCK  CONTROLS */
#alarm {
	position: relative;
	top: -235px;
	left: 160px;
	padding: -15px 0px 0px 0px;
}

#alarmbuttons {
	position: relative;
	top: -220px;
	left: 89px;
	padding: -15px 0px 0px 0px;
}

/* HOVER */
.hover:hover {
	background-color: #DDEEFF;
}

/* SPACING */
.panel img {
	padding: 15px 0px 15px 0px;
}

.page {
	padding-bottom: 20px;
}

/* HEADER */
.shandow {
	width: 100%;
	height: 5px;
	background-color: lime;
}