<div class="col-xs-12" style="background-color: #005DA3; color: white;box-shadow: 0px 4px 10px -2px #888;">
	<div class="jumbotron container" style="background-color: transparent; text-align: center;">
		<!-- CLOCK -->
		<clock class="visible-xs" size="xs"></clock>
		<clock class="visible-sm" size="sm"></clock>
		<clock class="hidden-sm hidden-xs" size="lg"></clock>
	</div>
</div>
<div class="col-xs-12">
	<div class="container">
		<div class="col-xs-12">
			<br>
			<h2>Welcome</h2>
			<p>
				Welcome to racer159.com! I am a fifth year Software Engineering student attending Rochester Institute of Technology and created this site to serve as a portfolio of some of my work.  
				Above you can see a javascript canvas-based clock along with links to my resume, projects, and personal GitHub account.  This site was written using Angular.js to control the 
				navigation and interactive elements, and Bootstrap to serve as a jumping off point for CSS styling.  If you have any questions about the site feel free to contact me via email at
				<a href="racer159@outlook.com">racer159@outlook.com</a>.  Again, welcome, and thanks for taking a look.
			</p>
			<br>&nbsp;
		</div>
	</div>
</div>