<div class="col-xs-12" style="background-color: #005DA3; color: white;box-shadow: 0px 4px 10px -2px #888;">
	<div class="jumbotron container" style="background-color: transparent; text-align: center;">
		<!-- CLOCK -->
		<clock class="visible-xs" size="xs"></clock>
		<clock class="visible-sm" size="sm"></clock>
		<clock class="hidden-sm hidden-xs" size="lg"></clock>
	</div>
</div>
<div class="col-xs-12">
	<div class="container">
		<div class="col-xs-12 welcome">
			<br>
			<div class="welcome-title">
				<h1><b>WELCOME TO RACER159.COM</b></h1>
				<p><i>The Internet Home for Wayne Starr</i></p>
			</div>
			<div id="" class="col-md-4" ng-mousedown="playDTMF1($event)" oncontextmenu="return false">
				<img id="image1" src="images/profile.png" class="img-responsive img-circle border-image hover" alt="black motorcycle and truck"/>
			</div>
			<div class="col-md-4" ng-mousedown="playDTMF2($event)" oncontextmenu="return false">
				<img id="image2" src="images/profilebolt.png" class="img-responsive img-circle border-image hover" alt="black motorcycle doing a wheelie">
			</div>
			<div class="col-md-4" ng-mousedown="playDTMF3($event)" oncontextmenu="return false">
				<img id="image3" src="images/profileblackjack.png" class="img-responsive img-circle border-image hover" alt="black truck kicking up dirt"/>
			</div>
			<audio id="dtmf-1"><source src="audio/dtmf_1.mp3" type="audio/mp3"/></audio>
			<audio id="dtmf-2"><source src="audio/dtmf_2.mp3" type="audio/mp3"/></audio>
			<audio id="dtmf-3"><source src="audio/dtmf_3.mp3" type="audio/mp3"/></audio>
			<br>&nbsp;
		</div>
	</div>
</div>