<div class="container">
<div class="col-xs-12 page">
	<div class="page-header">
		<h1>Projects</h1>
	</div>
	<div class="col-xs-4 text-center panel panel-default hover" ui-sref="projects.kiwitv">
		<img src="images/projects/kiwitv/main.jpg" alt="Kiwi TV" style="width:100%"/>
		<p class="hidden-xs"></p>
		<p class="hidden-xs">Kiwi TV</p>
	</div>
	<div class="col-xs-4 text-center panel panel-default hover" ui-sref="projects.projectatlas">
		<img src="images/projects/projectatlas/main.jpg" alt="Project Atlas" style="width:100%"/>
		<p class="hidden-xs"></p>
		<p class="hidden-xs">Project Atlas</p>
	</div>
	<div class="col-xs-4 text-center panel panel-default hover" ui-sref="projects.tigercenter">
		<img src="images/projects/tigercenter/main.jpg" alt="Audio Pipes" style="width:100%"/>
		<p class="hidden-xs"></p>
		<p class="hidden-xs">Tiger Center</p>
	</div>
	<div class="col-xs-12" data-ui-view></div>
</div>
</div>