<div class="col-md-12">
	<div class="page-header">
		<h1>Projects</h1>
	</div>
	<div class="col-sm-6 col-xs-12 text-center well well-sm">
		<img src="images/projects/raspi/main.jpg" alt="Raspberry Pi Project" style="width:100%"/>
		<br>
		<p>Raspberry Pi Media Center/Emulation Station</p>
	</div>
	<div class="col-sm-6 col-xs-12 text-center well well-sm">
		<img src="images/projects/snes/main.jpg" alt="Bluetooth SNES Controller Project" style="width:100%"/>
		<br>
		<p>Bluetooth SNES Controller</p>
	</div>
	<div class="col-sm-6 col-xs-12 text-center well well-sm">
		<img src="images/projects/tigercenter/main.jpg" alt="Tiger Center Enrollment System" style="width:100%"/>
		<br>
		<p>Tiger Center Enrollment System</p>
	</div>
</div>