<div class="col-md-12 page">
	<div class="page-header">
		<h1>Projects</h1>
	</div>
	<div class="col-sm-4 col-xs-12 text-center panel panel-default hover" ui-sref="projects.raspi">
		<img src="images/projects/raspi/main.jpg" alt="Raspberry Pi Project" style="width:100%"/>
		<p></p>
		<p>RasPi Media Center/Emulator</p>
	</div>
	<div class="col-sm-4 col-xs-12 text-center panel panel-default hover" ui-sref="projects.snes">
		<img src="images/projects/snes/main.jpg" alt="Bluetooth SNES Controller Project" style="width:100%"/>
		<p></p>
		<p>Bluetooth SNES Controller</p>
	</div>
	<div class="col-sm-4 col-xs-12 text-center panel panel-default hover" ui-sref="projects.tigercenter">
		<img src="images/projects/tigercenter/main.jpg" alt="Tiger Center Enrollment System" style="width:100%"/>
		<p></p>
		<p>Tiger Center Enrollment System</p>
	</div>
	<div class="col-sm-12" data-ui-view></div>
</div>