<div class="col-md-12">
	<div class="page-header">
		<h1>Resume</h1>
	</div>
	<div class="text-center">
		<h2>WAYNE STARR</h2>
		wes7817@g.rit.edu&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;(970) 366-2530
	</div>
	<div>
		<h3>PROFILE</h3>
		Third Year Software Engineering Student at Rochester Institute of Technology with 3.5 years 
		of leadership experience from Air Force ROTC.  Excels at Java, C#, JavaScript, Ruby, Visual 
		Basic, Python, C++, and C application development, and always willing to learn.
	</div>
	<div>
		<h3>EDUCATION</h3>
		<h4>Rochester Institute of Technology</h4>
		Rochester, NY&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;3.80 GPA&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		Bachelor of Science in Software Engineering&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2011-Present
	</div>
</div>