<div class="col-md-12 page">
	<div class="page-header">
		<h1>Resume</h1>
	</div>
	<div class="well"/>
		<div class="text-center">
			<h1 style="color: #99d75b;">Wayne Starr</h1>
			wes7817@g.rit.edu&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;(970) 366-2530
		</div>
		<div>
			<h3>Profile</h3>
			Fifth Year Software Engineering Student at Rochester Institute of Technology with 4.5 years 
			of leadership experience from Air Force ROTC.  Excels at C#, Java, JavaScript, Ruby, Visual 
			Basic, Python, C++, and C application development, and always willing to learn.
		</div>
		<div>
			<h3>Education</h3>
			<h4>Rochester Institute of Technology - 2011-Present (Grad 2016)</h4>
			<p class="col-sm-12">
				<span class="col-sm-2 col-xs-12">Rochester, NY</span>
				<span class="col-sm-1 col-xs-12">3.84 GPA</span>
				<span class="col-sm-4 col-xs-12">Bachelor of Science in Software Engineering</span>
				<span class="col-sm-3 col-xs-12">Minor in Military Sciences</span>
				<span class="col-sm-2 col-xs-12">Immersion in Arabic</span>
				<span class="col-xs-12 visible-xs">&nbsp;</span>
			</p>
		</div>
		<div>
			<p><i>Courses:</i> Software Engineering, Engr Fund Comp Systems, Personal Software Engr, Intro To Cs Theory, 
			Operating Systems I, Eng Of Software Subsys, Eng of Concur Distrib SW Sys, Software Testing, Human Centered 
			Reqs and Design, SW Process and Project Management, Engineering of Enterprise SW Sys, Mathematical Models of 
			SW, Intro to Intelligent Systems, SW Process and Product Quality, Principles of Data Mining, SW System Reqs 
			and Architect</p>
		</div>
		<div>
			<h3>Skills</h3>
			<span class="col-sm-12">
				<b class="col-sm-4 col-xs-12">Programming Languages:</b>
				<p class="col-sm-8 col-xs-12">C#, Java, JavaScript, Ruby, Visual Basic, Python, C++, C, HTML, CSS</p>
			</span>
			<span class="col-sm-12">
				<b class="col-sm-4 col-xs-12">Operating Systems: </b>
				<p class="col-sm-8 col-xs-12">Windows, Linux, Mac OS X</p>
			</span>
			<span class="col-sm-12">
				<b class="col-sm-4 col-xs-12">Development Software:</b>
				<p class="col-sm-8 col-xs-12">Microsoft Visual Studio, Eclipse, Android Studio, Microsoft Visio</p>
			</span>
			<span class="col-sm-12">
				<b class="col-sm-4 col-xs-12">Software:</b>
				<p class="col-sm-8 col-xs-12">Microsoft Office Suite</p>
			</span>
			<br><br>
		</div>
		<div>
			<h3>Projects</h3>
			<ul>
				<li>
					Worked in my free time on a project a group of interns and I started to explore people's stories 
					through the use of personable "explorers" that prompt for videos, photos, and audio inputs using 
					lights and sounds driven by a windows phone with additional hardware.
				</li>
				<li>
					Implemented a new interface for class search and enrollment written in Angular.js as part of 
					the Student IT Office, working with external customers around campus as well as ITS on campus.
				</li>
				<li>
					Team lead for a C# based budget tracking software complete with reports, and a fluid user interface.  
					Worked to hold meetings, perform usability testing, and define necessary changes.
				</li>
			</ul>
		</div>
		<div>
			<h3>Experience</h3>
			<h4>Student IT Office, Rochester New York</h4>
			Web Developer&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Jan 2014 – May 2014, Sep 2014 - Dec 2014, Jan 2016 - Present 
			<ul>
				<li>Design, Develop, Test, Deploy, and Maintain enterprise-level web apps for RIT</li>
				<li>Work with a cross-functional team to improve business, development, and design processes</li>
			</ul>
			<h4>Microsoft, Seattle Washington</h4>
			Software Developer in Test (Intern)&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Jun 2014 – Aug 2014, May 2015 - Aug 2015
			<ul>
				<li>Work with Big Data to discover insights to find ways of improving log scraping for Bing</li>
				<li>Create dynamic reports on data using Excel, and SharePoint</li>
			</ul>
		</div>
		<div>
			<h3>Honors/Activities</h3>
			<ul>
				<li>RIT Presidential Scholarship recipient</li>
				<li>4.5 years leadership experience in Air Force Reserve Officer Training Corps</li>
				<li>3.5 years in Arnold Air Society with 12 months as Area 01 Financial Management Officer</li>
				<li>Placed on Dean’s List all academic quarters/semesters</li>
				<li>Enjoy mountain biking, video gaming, snowshoeing, working on cars/motorcycles and off-roading</li>
			</ul>
		</div>
		<div class="text-right">
			<a href="documents/Resume_WS.pdf">
				<button type="button" class="btn btn-default">Download</button>
			</a>
		</div>
	</div>
</div>