<div class="col-md-12">
	<div class="text-center">
		<h1>WAYNE STARR</h1>
		wes7817@g.rit.edu&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;(970) 366-2530
	</div>
	<div>
		<h3>PROFILE</h3>
		Third Year Software Engineering Student at Rochester Institute of Technology with 3.5 years 
		of leadership experience from Air Force ROTC.  Excels at Java, C#, JavaScript, Ruby, Visual 
		Basic, Python, C++, and C application development, and always willing to learn.
	</div>
	<div>
		<h3>EDUCATION</h3>
		<h4>Rochester Institute of Technology</h4>
		<span class="col-md-3 col-xs-12">Rochester, NY</span><span class="col-md-2 col-sm-12">3.80 GPA</span>
		<span class="col-md-4 col-xs-12">Bachelor of Science in Software Engineering</span>
		<span class="col-md-3 col-xs-12">2011-Present</span>
		<br><br>
		<i>Courses:</i> Software Engineering, Engr Fund Comp Systems, Personal Software Engr, Intro To Cs Theory, 
		Operating Systems I, Eng Of Software Subsys, Eng of Concur Distrib SW Sys, Software Testing, Human Centered 
		Reqs and Design
	</div>
	<div>
		<h3>SKILLS</h3>
		<span class="col-md-4 col-xs-12">Programming Languages:</span>
		<span class="col-md-8 col-xs-12">Java, C#, JavaScript, Ruby, Visual Basic, Python, C++, C, HTML, CSS</span>
		<span class="col-md-4 col-xs-12"><h4>Operating Systems: </h4></span>
		<span class="col-md-8 col-xs-12">Windows, Linux, Mac OS X </span>
		<span class="col-md-4 col-xs-12"><h4>Development Software:</h4></span>
		<span class="col-md-8 col-xs-12">Microsoft Visual Studio, Eclipse, Android Studio, Microsoft Visio</span>
		<span class="col-md-4 col-xs-12"><h4>Software:</h4></span>
		<span class="col-md-8 col-xs-12">Microsoft Office Suite</span>
		<br>
	</div>
	<div>
		<h3>PROJECTS</h3>
		<ul>
			<li>
				Developing an Android app to plug into DuckDuckGo’s Instant Answer API in my free time
			</li>
			<li>
				Implemented a new interface for class search and enrollment written in Angular.js as part of 
				the Student IT Office, working with external customers around campus as well as ITS on campus.
			</li>
			<li>
				Team lead for a C# based budget tracking software complete with reports, and a fluid user interface.  
				Worked to hold meetings, perform usability testing, and define necessary changes.
			</li>
		</ul>
	</div>
</div>