<div id="clock">
	<canvas id="canvas-sm" width="400" height="400"></canvas>
	<div id='alarm-sm'>
		<span style="font-size:15px">Alarm 1</span>
		<label>
			<select id="hour1" ng-model="aonehour" class="one" ng-options="hour for hour in hours"></select>
		</label>
		:
		<label>
			<select id="minute1" ng-model="aoneminute" class="one" ng-options="min.value as min.label for min in minutes"></select>
		</label>
		<label>
			<select id="ampm1" ng-model="aoneampm" class="one" ng-options="ap for ap in ampms"></select>
		</label>
		/
		<label>
			<select id="onoff1" ng-model="aoneon" class="one" ng-options="of for of in onoffs"></select>
		</label>
		
		<span style="font-size:15px">Alarm 2</span>
		<label>
			<select id="hour2" ng-model="atwohour"  class="two" ng-options="hour for hour in hours"></select>
		</label>
		:
		<label>
			<select id="minute2" ng-model="atwominute"  class="two" ng-options="min.value as min.label for min in minutes"></select>
		</label>
		<label>
			<select id="ampm2" ng-model="atwoampm" class="two" ng-options="ap for ap in ampms">
				<option value="AM">AM</option>
				<option value="PM">PM</option>
			</select>
		</label>
		/
		<label>
			<select id="onoff2" ng-model="atwoon" class="two" ng-options="of for of in onoffs"></select>
		</label>
	</div>
	<br>
	<div id="alarmbuttons-sm">
		<button id="snooze" ng-click="snooze()" type="button" class="btn btn-default" style="font-size: 18px; width: 150px; height: 50px;">Snooze</button>
		<button id="off" ng-click="off()" type="button" class="btn btn-default" style="font-size: 18px; width: 150px; height: 50px;">Alarm Off</button>
	</div>
	<audio id="asound" src="audio/alarm.mp3" preload="auto" loop></audio>
	<audio id="asound2" src="audio/alarm2.mp3" preload="auto" loop></audio>
	<br><br><br>
</div>