<html>
<head>
<script type="text/JavaScript">
<!--
setTimeout("location.href = 'http://racer159.github.io/partials/net/characters1.html';", 500);
-->
</script>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css"/>
</head>
<body style="background-color:#080715;color:#40FFF3;font-family:monospace;font-size:14pt;">
	<div style="margin:auto;width:800px;" class="container">
		<div class="col-xs-12" style="background-color:#40FFF3;color:#080715;margin-top:10px;">
			<h1>SANTA MONICA POLICE DEPARTMENT PATROL RESPONSE NETWORK 2.1</h1>
		</div>
		<div class="col-xs-12">
			------------------------------------------------------------------
		</div>
		<img src="../../images/net/ruth.jpg" class="col-xs-5"/>
		<div class="col-xs-7" style="padding:0px 30px;">
			<h1>MARX, RUTH</h1>
			<h2>PRIOR ARRESTS:</h2>
			12/93 LAPD Prostitution<br>
			&nbsp;9/93 LAPD Petty Larceny<br>
			&nbsp;1/91 SFPD Narcotics Posession<br>
			&nbsp;8/89 LAPD Parole Violation<br>
			&nbsp;4/88 SMPD Prostitution<br><br><br><br>
		</div>
		<div class="col-xs-5" style="padding:0px 30px;">
			SSN: 925-30-1717<br>
			DOB: 06/11/68<br>
			HT: 5' 7", WT: 125<br>
			EYES: bro, HAIR: bro<br>
		</div>
		<div class="col-xs-7" style="padding:0px 30px;margin-top:-20px;margin-bottom:20px;">
			<h2>WARRANTS ISSUED:</h2>
			LAPD Prostitution<br>
			SFPD Prostitution<br>
		</div>
		<div class="col-xs-12">
			------------------------------------------------------------------
		</div>
	</div>
</body>
</html>