<div class="page-header">
	<h2>Raspberry Pi Media Center/Emulation Station</h2>
</div>
<div>
	<p>
		For this project, I used a Raspberry Pi model B+ to create a media center and emulation station for the collection of videos, 
		music, and ROMs on my home server.  It uses a DualShock 4 controller to control the interface, which is actually wrapped as
		an Xbox controller, and then as a keyboard due to the lack of joystick support in the Raspberry Pi version of XBMC (now Kodi).
		Everything is up and running under Arch Linux and the Raspberry Pi boots directly into XBMC, with scripts to start and stop
		the media center to improve speed whenever a game is loaded.
	</p>
</div>
<div class="well" ng-init="slides = [{image: 'images/projects/raspi/main.jpg', text: 'Booted into XBMC'},
		{image: 'images/projects/raspi/raspi.jpg', text: 'The Raspberry Pi'}, 
		{image: 'images/projects/raspi/controller.jpg', text: 'Connecting the Controller'}];
		intervalMs = 5000;">
	<carousel interval="intervalMs">
		<slide ng-repeat="slide in slides" active="slide.active">
		<img ng-src="{{slide.image}}" style="margin:auto;">
			<div class="carousel-caption">
				<p>{{slide.text}}</p>
			</div>
		</slide>
	</carousel>
</div>