<div class="col-md-12 page">
	<div class="page-header">
		<h1>Tiger Center Enrollment System</h1>
	</div>
	<div>
		<p>
			Tiger Center was actually a web application that I helped create as part of the Student IT Office.  It basically serves
			as a fresh interface for the Campus Solutions enrollment application that RIT uses.  It uses modern web frameworks
			such as Angular.js and Foundations for the front end, and provides a much more dynamic and fluid experience for its
			users.  I was lucky enough to be a part of this project from start to finish, and was able to really understand the processes
			that go into designing, developing, deploying, and maintaining enterprise-level web applications.
		</p>
	</div>
	<div class="well" ng-init="slides = [{image: 'images/projects/tigercenter/main.jpg', text: 'Schedule and Cart'},
			{image: 'images/projects/tigercenter/menu.jpg', text: 'Main Menu'}, 
			{image: 'images/projects/tigercenter/search.jpg', text: 'Search Page'}];
			intervalMs = 5000;">
		<carousel interval="intervalMs">
			<slide ng-repeat="slide in slides" active="slide.active">
			<img ng-src="{{slide.image}}" style="margin:auto;">
				<div class="carousel-caption">
					<p>{{slide.text}}</p>
				</div>
			</slide>
		</carousel>
	</div>
</div>